
@media only screen and (max-width: 320px) {
    .cont {
        width: 152%;
    }
    .footmi{
        margin-top: 30rem;
        width: 152%;
      }
    .footer{
        width: 200%;
      }

      .cont-1 {
        width: 368%;
    }
    .footer-1{
        width: 368%;
      }
      .cont-2 {
        width: 368%;
    }
    .footer-2{
        width: 368%;
      }
      .cont-3 {
        width: 368%;
    }
    .footer-3{
        width: 368%;
      }
      .cont-4 {
        width: 368%;
    }
    .footer-4{
        width: 368%;
      }

}


@media only screen and (max-width: 375px) {
    .cont {
        width: 152%;
    }
    .footmi{
        margin-top: 30rem;
        width: 152%;
      }
    .footer{
        width: 200%;
      }

      .cont-1 {
        width: 368%;
    }
    .footer-1{
        width: 368%;
      }
      .cont-2 {
        width: 368%;
    }
    .footer-2{
        width: 368%;
      }
      .cont-3 {
        width: 368%;
    }
    .footer-3{
        width: 368%;
      }
      .cont-4 {
        width: 368%;
    }
    .footer-4{
        width: 368%;
      }

}


@media only screen and (max-width: 425px) {
    .cont {
        width: 152%;
    }
    .footmi{
        margin-top: 30rem;
        width: 152%;
      }
    .footer{
        width: 200%;
      }

      .cont-1 {
        width: 368%;
    }
    .footer-1{
        width: 368%;
      }
      .cont-2 {
        width: 368%;
    }
    .footer-2{
        width: 368%;
      }
      .cont-3 {
        width: 368%;
    }
    .footer-3{
        width: 368%;
      }
      .cont-4 {
        width: 368%;
    }
    .footer-4{
        width: 368%;
      }
 
}


@media only screen and (max-width: 768px) {
  #container {
      padding: 0 2rem;
  }
  .header {
      height: auto;
      align-items: flex-start;
      padding: 10px;
      width: 152%;
      height: 6vh;
  }
  .header-1 img {
      margin-left: 0;
      width: 23px;
  }
  .header-info {
      margin-left: 0;
      font-size: 10px;
      flex-wrap: nowrap;
      font-size: 3px;
  }
  .navbar {
      padding: 5px 10px;
      height: 25px;
    font-size: 11px;
      flex-wrap: nowrap;
      top: 30px;
      width: 152%;
  }
  .navbar-left {
      margin-left: 0;
      
  }
  .navbar-left .nav-link {
      margin-bottom: 10px;
  }
  .navbar-right {
      margin: 0;
      margin-top: -131px;
      margin-top: -59px;
      position: relative;
      left: -67px;
  }
  .request-quote button {
      width: auto;
      padding: 10px;
      font-size: 12px;
      margin-left: 20px;
  }
  .request-quote {
    margin-left: 200px;
  }

  .cont {
      padding: 20px;
      margin-top: -46px;
      height: 71vh;
      width: 152%;
  }
  .content {
    font-size: 23px;
    
      width: 73%;
      margin-top: 103px;
      margin-left: 0;
  }
  .title,
  .description {
      width: auto;
      font-size: 7px;
      line-height: 15px;
      width: 50%;
  }
  .explore {
      width: 18%;
  }
  .para1{
    width: 20%;
    font-size: 12px;
  }
  .new-container {
      align-items: center;
      top: 21rem;
      width: 152%;
  }
  .left-side,
  .right-side {
      width: 100%;
  }
  .right-side {
      gap: 20px;
  }
  .service {
      width: 100%;
      flex-direction: column;
  }
  .service img {
      margin: 0 auto;
      width: 50px;
  }
  .service-info h3,
  .service-info p {
      width: auto;
      padding-left: 0;
      border-left: none;
  }
  .background-container {
      top: 49rem;
      height: 30vh;
      width: 152%;
  }
  .box-container {
      width: 120%;
      margin-left: 90px;
      padding: 20px;
      top: 54rem;
  }
  .log-left-side,
  .log-right-side {
      width: 85%;
  }
  .log-right-side img {
      width: 57%;
      height: auto;
      left: 312px;
  }
  .count {
      top: 140rem;
      left: 0;
      width: 100%;
  }
  .neva {
      font-size: 18px;
  }
  .flex-container {
      align-items: center;
      width: 152%;
  }
  .flex-item {
      width: 16%;
  }

  .flex-item img{
    width: 90%;
  }
  .testimonial-container {
      top: 300vh;
      width: 152%;
  }
  .testimonial-box {
      width: 90%;
      left: 5%;
  }
  .testimonial-box img{
    left: 92%;
  }
  .testimonial-box-left,
  .testimonial-box-right {
      padding: 20px;
  }
  .pit{
    margin-top:28rem ;
    width: 152%;

  }
  .content-section {
      flex-wrap: nowrap;
      top: 161rem;
      width: 150%;
  }
  .left-div,
  .right-div {
      width: 58%;
  }
  .left-div img {
      margin-left: 0;
      width: 100%;
  }
  .features {
      gap: 14px;
      margin-left: -53px;
  }
  .feature {
    height: 13px;
      width: 75%;
      margin-right: 0;
  }
  .feature img{
    left: -32px;
    position: relative;
  }
  .transt {
    width: 150%;
      height: auto;
  }
  .expert-team {
      align-items: center;
      width: 30%;
      position: relative;
      top: 35rem;
      left: 180px;
  }
  .expert-team img {
      width: 100%;
      height: auto;
  }
  .details-contacts {
      align-items: center;
      padding: 20px;
      width: 368%;
  }
  .left-contact,
  .right-contact {
      width: 100%;
      padding: 10px;
  }
  .dowm-image {
      width: 87%;
      left: 5%;
      top: 38rem;
  }
  .latest-news {
      top: 27rem;
      width: 235%;
      margin-top: 220px;
  }
  .news-item {
      width: 152%;
      margin: 0 auto;
      border: none;
      padding: 10px 0;
      margin-top: 28px;
  }
  .news-item div {
      border: none;
      padding: 0;
  }
  .more-btn {
    position: relative;
    top:110px;
  }

  .footmi{
    margin-top: 30rem;
    width: 200%;
  }
  .footer{
    width: 200%;
  }
  .footer-content {
      align-items: center;
  }
  .footer-section {
      flex-basis: 100%;
      text-align: center;
      margin-bottom: 20px;
  }
  .cont-1 {
    width: 400%;
}
.footer-1{
    width: 487%;
    height: 43rem;
  }
  .cont-2 {
    width: 368%;
}
.footer-2{
    width: 368%;
  }
  .cont-3 {
    width: 368%;
}
.footer-3{
    width: 368%;
  }
  .cont-4 {
    width: 368%;
}
.footer-4{
    width: 368%;
  }
}


@media only screen and (max-width: 1024px) {
    .cont{
        width: 200%;
    }
    #container {
        padding: 0 2rem;
    }


    .footer{
        width: 400%;
    }
    .cont-1 {
        width: 368%;
    }
    .footer-1{
        width: 368%;
      }
      .cont-2 {
        width: 368%;
    }
    .footer-2{
        width: 368%;
      }
      .cont-3 {
        width: 368%;
    }
    .footer-3{
        width: 368%;
      }
      .cont-4 {
        width: 368%;
    }
    .footer-4{
        width: 368%;
      }

}


@media only screen and (max-width: 1440px) {
    .cont {
        width: 152%;
    }
    .footmi{
        margin-top: 30rem;
        width: 152%;
      }
    .footer{
        width: 200%;
      }

      .cont-1 {
        width: 368%;
    }
    .footer-1{
        width: 368%;
      }
      .cont-2 {
        width: 368%;
    }
    .footer-2{
        width: 368%;
      }
      .cont-3 {
        width: 368%;
    }
    .footer-3{
        width: 368%;
      }
      .cont-4 {
        width: 368%;
    }
    .footer-4{
        width: 368%;
      }

}


@media only screen and (max-width: 2560px) {
    .cont {
        width: 368%;
    }
    .footmi{
        margin-top: 30rem;
        width: 368%;
      }
    .footer{
        width: 368%;
        height: 34rem;
      }
      .cont-1 {
        width: 368%;
    }
    .footer-1{
        width: 368%;
      }
      .cont-2 {
        width: 368%;
    }
    .footer-2{
        width: 368%;
      }
      .cont-3 {
        width: 368%;
    }
    .footer-3{
        width: 368%;
      }
      .cont-4 {
        width: 368%;
    }
    .footer-4{
        width: 368%;
      }

      @media (max-width: 2560px) {
        #container {
          padding: 0 5rem;
        }
      
        .header {
          height: 100px;
        }
      
        .header-1 img {
          margin-left: 20px;
        }
      
        .header-info {
          font-size: 12px;
          margin-left: 217px;
        }
      
        .info-item img {
          width: 40px;
        }
      
        .navbar {
          padding: 10px 20px;
          height: 8vh;
        }
      
        .navbar-left {
          margin-left: 60px;
        }
      
        .navbar-left .nav-link {
          margin-right: 20px;
        }
      
        .dropdown {
          margin-right: 20px;
        }
      
        .navbar-right {
          margin-left: 225px;
          margin: 105px;
          margin-left: 160px;
        }
      
        .social-icon i {
          font-size: 20px;
        }
      
        .request-quote button {
          margin-left: -130%;
        }
      
        .cont {
          height: 101%;
          width: 367%;
        }
      
        .content {
          width: 228px;
          margin-top: 152px;
          margin-left: 86px;
        }
      
        .tagline {
          font-size: 11px;
        }
      
        .title {
          font-size: 32px;
          width: 150%;
        }
      
        .description {
          font-size: 10px;
          width: 150%;
        }
      
        .explore {
          max-width: 58%;
        }
      
        .new-container {
          width: 319%;
          top: 664px;
        }
      
        .left-side {
          margin-left: 70px;
        }
      
        .subtitle {
          font-size: 14px;
        }
      
        .title-1 {
          font-size: 28px;
        }
      
        .right-side {
          width: 50%;
          gap: 55px;
        }
      
        .service {
          width: 43%;
          height: 14vh;
        }
      
        .service img {
          width: 30%;
          margin-left: -62px;
          margin-top: 20px;
        }
      
        .service-info h3 {
          font-size: 16px;
          width: 115%;
        }
      
        .service-info p {
          font-size: 14px;
          width: 117%;
        }
      
        .background-container {
          width: 368%;
          top: 975px;
        }
      
        .box-container {
          top: 1283px;
          width: 229%;
          margin-left: 250px;
        }
      
        .log-left-side {
          padding: 20px;
        }
      
        .subtitle-2 {
          width: 25% !important;
        }
      
        .log-left-side h3 {
          font-size: 26px;
        }
      
        .log-right-side img {
          width: 40%;
          left: 476px;
          top: 93px;
        }
      
        .reg-img {
          left: 484px;
          width: 35%;
          top: 1624px;
        }
      
        .count {
          top: 110rem;
          left: 160px;
          width: 193%;
        }
      
        .flex-container {
          margin-top: 20px;
        }
      
        .flex-item {
          width: calc(20% - 18px);
        }
      
        .more-work-button {
          padding: 10px 20px;
        }
      
        .flex-item img {
          height: 40vh;
        }
      
        .pit {
          top: calc(79rem + 40vh + 20px);
          width: 368%;
          height: 155px;
        }
      
        .testimonial-container {
          top: 426vh;
          width: 349%;
        }
      
        .testimonial-box {
          width: 48%;
          top: -6rem;
          left: 6%;
          padding: 50px;
        }
      
        .testimonial-box-left p,
        .testimonial-box.right p {
          font-size: 16px;
        }
      
        .testimonial-box img {
          width: 50px;
          left: 172%;
        }
      
        .testimonial-label {
          width: 25%;
        }
      
        .content-section {
          top: 179rem;
          width: 367%;
          left: 0px;
          height: 75%;
        }
      
        .left-div img {
          width: 75%;
          margin-left: 204px;
          margin-top: 72px;
        }
      
        .right-div {
          width: 50%;
          margin-left: 45px;
        }
      
        .features {
          grid-gap: 20px 0;
          margin-top: 16px;
          margin-left: 8px;
        }
      }
      

}


/*About page */
/* Media query for devices with a max-width of 768px */
@media only screen and (max-width: 768px) {
  .about-title {
      font-size: 35px;
      line-height: 50px;
  }

  .cont-1 {
      height: 60vh;
      margin-top: 10vh;
  }

  .content-1 {
      width: 200px;
      margin-top: 100px;
      margin-left: 50px;
      white-space: normal;
  }

  .about-section {
      flex-direction: column;
      margin: 3rem 0;
  }

  .image-container img {
      width: 100%;
      height: auto;
  }

  .content-container-1 {
      width: 100%;
      margin-left: 0;
  }

  .m-para {
      width: 100%;
      font-size: 14px;
  }

  .buttons-2 {
      flex-direction: column;
      gap: 10px;
  }

  .buttons-2 button {
      width: 100%;
      height: 40px;
  }

  .that-container {
      flex-direction: column;
      padding: 50px;
      height: auto;
  }

  .that-left-container, .that-right-container {
      width: 100%;
      padding: 10px;
  }

  .top-div {
      width: 100%;
      height: auto;
      padding: 30px;
      left: 0;
      top: 0;
  }

  .footer-1 {
      width: 100%;
      height: auto;
      left: 0;
      top: 0;
  }
}

/* Media query for devices with a min-width of 2560px */
@media only screen and (max-width: 2560px) {
  .about-title {
      font-size: 60px;
      line-height: 80px;
  }

  .cont-1 {
      height: 80vh;
      margin-top: 20vh;
  }

  .content-1 {
      width: 300px;
      margin-top: 200px;
      margin-left: 100px;
  }

  .about-section {
      margin: 7rem 0;
  }

  .image-container img {
      width: 100%;
      height: auto;
  }

  .content-container-1 {
      width: 60%;
      margin-left: 100px;
  }

  .m-para {
      width: 80%;
      font-size: 20px;
  }

  .buttons-2 button {
      width: 30%;
      height: 60px;
  }

  .that-container {
      padding: 100px;
      height: 50rem;
  }

  .that-left-container, .that-right-container {
      width: 60%;
      padding: 50px;
  }

  .top-div {
      width: 400px;
      height: 20rem;
      left: -150px;
      top: -25rem;
  }

  .footer-1 {
      width: 300%;
      height: 40rem;
      left: -150%;
      top: -15rem;
  }
}

